<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home-blog</title>
</head>
<body>
    <h1>home</h1>
    <main role="main" class="container">
        <div class="col-md-4">
            <h3 id="stat-main-title">Commands</h3>
            <p class="text-muted">
            <ul class="list-group">
                <li class="list-grou-item list-item-light">
                    <h4 class="stat-title"> Function:</h4>
                    <form action="simple_function"></form> ## action indicates where data is sent to
                        <button id="stat-btn" class="btn">Click_Me<3</button>
                    </form>
                </li>

        </div>
        </ul>
        </p>
        <br> onclick button

        Text:
            <input type="text" name="param" required>  ## test with external (to print results)<br>
        <button onclick="location.href='{% url 'simple_function' %}'">Execute Internal Script </button><hr>
        {% if ip_data %}

        {{ip_data | safe}}

        {% endif %}
        {{ip_data1}} ip_data

       <!--<form action="/simple_function/" method="post"
       <form action="simple_function" method="post">
            {% csrf_token %}
            Text:
            <input type="text" name="param" required>  ## Test with action /simple_function/ <br><br>
            {{data_external}}
            <input type="submit" value="Execute External Python Script">
> -->

        <form action="/blog/external/" method="post">
            {% csrf_token %}
            Text:
            <input type="text" name="param" required>  ## test with external (to print results)<br>
            {{data_external}} data external
            {{ip_data1}} ip_data1
            <input type="submit" value="Execute External Python Script">


        </form>
    </main>


</body>
</html>